<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Dear Dairy</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <nav class="navbar navbar-default  h-nav">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Dear Diary</a>
      </div>
        <ul class="nav navbar-nav navbar-right v-nav">
          <!-- 6 -->
          <li id="home"><a href="/home">HOME</a></li>
          <li id="contact"><a href="/list">To-Do List</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
          
        </ul>
    </div>
    <div class="burger">
      <button class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </button>
  </div>
  </nav>
  <script src="style.js"></script>
  <body>
    <div class="container">
  