<%- include("partials/header"); -%>
<h1>ABOUT</h1>



<p>This is a virtual Dairy website,where you can write dairy enteries anywhere anytime not only dairy entry ,you can make notes and make your to lists</p>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, quis? Inventore sapiente sit, dolor iusto neque quae ducimus alias eius necessitatibus, aliquam minima harum. Nostrum qui optio nisi dignissimos doloremque harum earum. Quaerat quae odit placeat tempora neque, iusto similique temporibus tenetur alias, repellat laborum ducimus repellendus id praesentium reiciendis quia dolorum facere. Inventore nulla enim iusto rerum.</p>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, quis? Inventore sapiente sit, dolor iusto neque quae ducimus alias eius necessitatibus, aliquam minima harum. Nostrum qui optio nisi dignissimos doloremque harum earum. Quaerat quae odit placeat tempora neque, iusto similique temporibus tenetur alias, repellat laborum ducimus repellendus id praesentium reiciendis quia dolorum facere. Inventore nulla enim iusto rerum.</p>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, quis? Inventore sapiente sit, dolor iusto neque quae ducimus alias eius necessitatibus, aliquam minima harum. Nostrum qui optio nisi dignissimos doloremque harum earum. Quaerat quae odit placeat tempora neque, iusto similique temporibus tenetur alias, repellat laborum ducimus repellendus id praesentium reiciendis quia dolorum facere. Inventore nulla enim iusto rerum.</p>
<%- include("partials/footer"); -%>