<%- include("partials/header"); -%>
<h1>CONTACT US</h1>
<h3>Hey it's me the developer!!</h3>
<h3>- Sanjana Prabha</h3>
<h3>you can contact me through</h3>
<ul>
    <div class="social">
        <ul>
            <h4><li><a href="https://www.instagram.com/invites/contact/?i=1t2ttjcbe7jms&utm_content=1majynj">instagram</a></li></h4>
            <h4><li><a href=" https://youtube.com/channel/UCkqqC8tNM-ydZLpW7ZpmBog//">youtube</a></li></h4>
            <h4><li><a href="https://www.linkedin.com/in/sanjana-prabha-692764220">linked in</a></li></h4>
            <h4><li><a href="https://twitter.com/SanjanaPrabha3?t=WhXnz_WE1nM4wx_ePB1IcA&s=09">twitter</a></li></h4>
        </ul>
    </div>
</ul>
<%- include("partials/footer"); -%>