<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dear Dairy</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/magic" rel="stylesheet">
                
    <link rel="stylesheet" href="/css/diary.css">
</head>
<body>
    
    <nav class="navbar background h-nav">
     
        <ul class="navlist v-nav ">
            <li><h1><a class="navbar-brand" href="/">Dear Diary</a></h1></li>
            <li><a href="/privacy">privacy policy</a></li>
                      
        </ul>
    </div class="container">
        <div class="bur" id="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>

<div class="middle">
    <h1 class="h1">DIARY</h1>
    <p class="p">Yours Truly</p>
</div>
<div>
    <button class="btn"><a href="/home" class="link">Get Started</a></button>
</div>

    <div class="footer-padding"></div>
  <div class="footer">
    <p>Copyright © Dear Dairy 2022-All rights reserved.</p>
  </div>
</div>