<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dear Dairy</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/magic" rel="stylesheet">
                
    <link rel="stylesheet" href="/css/diary.css">
</head>
<style>
    *{
        
        padding: 5px;
    }
    h1{
        text-align:center;
        color: white;
    }
    .nad{
        background-color: blue;
        color: white;
        text-decoration: none;
        border-radius: 2px solid white;
        
    }

</style>
<body>
    
<h1>Privacy Policy</h1>
<p>THIS PRIVACY POLICY IS AN ELECTRONIC RECORD IN THE FORM OF AN ELECTRONIC CONTRACT. THIS PRIVACY POLICY DOES NOT REQUIRE ANY PHYSICAL, ELECTRONIC OR DIGITAL SIGNATURE

    THIS PRIVACY POLICY IS A LEGALLY BINDING DOCUMENT BETWEEN YOU AND LABEL DEEPIKA NAGPAL  (“DN”) IN ELECTRONIC FORM, BY CLICKING ON THE "I ACCEPT" TAB OR BY USE OR THE WEBSITE OR BY OTHER MEANS) AND WILL GOVERN THE RELATIONSHIP BETWEEN YOU AND DN FOR YOUR USE OF THE WEBSITE (DEFINED BELOW).
    
    PLEASE READ THIS PRIVACY POLICY CAREFULLY. BY USING THE WEBSITE, YOU INDICATE THAT YOU UNDERSTAND, AGREE AND CONSENT TO THIS PRIVACY POLICY. IF YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY, PLEASE DO NOT USE THIS WEBSITE.
    
    By providing us your Information or by making use of the facilities provided by the Website, You hereby consent to the collection, storage, processing and transfer of any or all of Your Personal Information and Non-Personal Information by DN as specified under this Privacy Policy. You further agree that such collection, use, storage and transfer of Your Information shall not cause any loss or wrongful gain to you or any other person.
    
    DN and its subsidiaries and affiliates and Associate Companies and includes the brand “Vice India” (individually and/ or collectively, " DN ") is/are concerned about the privacy of the data and information of users (buyers/customers/browsers whether registered or non- registered) accessing, or purchasing products or services on DN's websites, mobile sites or mobile applications ("Website") on the Website and otherwise doing business with DN . "Associate Companies" here shall have the same meaning as ascribed in Companies Act, 2013.
    
    The terms "We" / "Us" / "Our" individually and collectively refer to each entity being part of the definition of DN and the terms "You" / "Your" / "Yourself" refer to the users.
    
    This Privacy Policy is a contract between You and the respective DN entity whose Website You use or access or You otherwise deal with. This Privacy Policy shall be read together with the respective Terms of Use or other terms and conditions of the respective DN entity and its respective Website or nature of business of the Website.
    
    DN has provided this Privacy Policy to familiarize You with the type of data or information that You share with or provide to DN and that DN collects from You; The purpose for collection of such data or information from You; DN's information security practices and policies; and DN's policy on sharing or transferring Your data or information with third parties.
    
    This Privacy Policy may be amended / updated from time to time. Upon amending / updating the Privacy Policy, we will accordingly amend the date above. We suggest that you regularly check this Privacy Policy to apprise yourself of any updates. Your continued use of Website or provision of data or information thereafter will imply Your unconditional acceptance of such updates to this Privacy Policy.</p>
    <br>
    <p>
        This Non-Personal Information may include:

Your geographic location,
Details of Your telecom service provider or internet service provider,
The type of browser (Internet Explorer, Firefox, Opera, Google Chrome etc.),
The operating system of Your system, device and the Website You last visited before visiting the Website,
The duration of Your stay on the Website is also stored in the session along with the date and time of Your access,
Non-Personal Information is collected through various ways such through the use of cookies/web beacons/embedded scripts and security software used for security and fraud detection purposes. DN may store temporary or permanent "cookies" on Your computer. You can erase or choose to block these cookies from Your computer. By accessing DN’s website You agree to the download/storage of cookies on your computer system which you may turn off according to the “Cookie Policy”. You can configure Your computer’s browser to alert You when we attempt to send You a cookie with an option to accept or refuse the cookie. If You have turned cookies off, you may be prevented from using certain features of the Website. You also agree by the use of the Website to allow DN to place cookies upon your computer system and use cookies/web beacons/embedded scripts and security software used for security and fraud detection purposes to collect information about You
    </p>
<h1><a class="nad" href="/">Back</a></h1>

<%- include("partials/footer"); -%>